
 

    body {
    	    background-image:url("skulls.jpg");
        font: 18px/30px helvetica, sans-serif;
   	 }
   	 
   	 .container{
   	 	 
   	 	 background-color: rgba(255, 255, 255, 0.5);
   	 	 width:500px;
   	 	 margin: auto;
   	 	 padding: 35px;
   	 }

  
   	 #profile {
   	 	
   	 	 float: left;
   	 	 margin: 7px 15px 8px 0;
   	 }
